<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Custom fonts for this template -->
    <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../assets/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">
    <!-- Custom styles for this template -->
    <link href="../assets/css/landing-page.min.css" rel="stylesheet">
    <!-- jQuery pluginfor pagination -->
    <script src="http://code.jquery.com/jquery-latest.min.js "></script>
    <script type="text/javascript" src="../assets/js/jquery.twbsPagination.js"></script>
    <!-- CDN for fontAwesome -->
    <script src="https://kit.fontawesome.com/a371979621.js" crossorigin="anonymous"></script>
    <!-- For pagination-->
    <script>
             var visiblePages = 10;
             var visibleList = 4;
            var totalCount = parseInt("<%=result.totalCount%>");
            var totalPages = totalCount / visibleList;
            if (totalCount % visibleList > 0) totalPages++;
            if (totalPages < visiblePages) visiblePages = totalPages;         
            var pageNow = parseInt("<%=result.filters.pageNumber%>"); 

          $(function () {
            $('#pagenation').twbsPagination({
                        startPage:this.pageNow, 
                        totalPages: this.totalPages, 
                        visiblePages: this.visiblePages,
                        prev: "이전", 
                        next: "다음", 
                        first: '«', 
                        last: '»', 
                        onPageClick: function (event, page) {
                            alert(page);
                             if (page!= parseInt("<%=result.filters.pageNumber%>")){
                                location.href = ("/pools/search?searchWord=<%=result.filters.searchWord %>"
                                    + "&poolPublic=<%=result.filters.poolPublic %>" + "&poolPrivate=<%=result.filters.poolPrivate %>"
                                    + "&poolHotel=<%=result.filters.poolHotel %>" + "&poolIndoor=<%=result.filters.poolIndoor %>"
                                    + "&poolOutdoor=<%=result.filters.poolOutdoor %>" + "&poolOpentime=<%=result.filters.poolOpentime %>"
                                    + "&poolForChild=<%=result.filters.poolForChild %>" + "&poolForWoman=<%=result.filters.poolForWoman %>"
                                    + "&poolForDisabled=<%=result.filters.poolForDisabled %>" + "&pageNumber=" + String(page));
                            }
                        } 
                    });

          });
    </script>
    <script>
        window.onload = function () {
            var checkboxes = document.getElementsByClassName('form-check-input');
            for (var i = 0; i < checkboxes.length; ++i) {
                if (checkboxes[i].checked) checkboxes[i].previousSibling.value = '1';
            }
        }
        function valueReverser(target) {
            target.previousSibling.value = target.checked ? 1 : 0;
        }
    </script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="../assets/img/logo-youngsu.png"></a>
            <a class="btn btn-primary" href="#">Sign In</a>
        </div>
    </nav>

    <!--List presenting-->
    <div class="container">
        <!-- Page Heading -->
        <h1 class="my-4">
            수영장 검색결과
            <small>(검색어:<%=result.filters.searchWord%>)</small>
        </h1>
        <%function dec2bin(dec){return (dec >>> 0).toString(2);} %>
        <hr>
         <!--Contentent & Pagination-->
        <div class="row">
            <!-- Search Widget Column -->
            <div class="col-lg-3">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <!-- 폼시작 -->
                        <form action='/pools/search'>
                            <div class="form-row mb-4">
                                <!-- 검색할 텍스트 -->
                                <div class="input-group">
                                    <input name="searchWord" type="text" class="form-control" placeholder="Search for..." value="<%=result.filters.searchWord %>" required>
                                    <span class="input-group-append">
                                      <button class="btn btn-secondary" type="submit">Go!</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-row">
                                <!-- 검색 필터 버튼 -->
                                <div id="filter_box" class="text-wrap">
                                    <button class="btn btn-secondary" type="button" data-toggle="collapse"
                                        data-target="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        +검색 필터설정
                                    </button>
                                </div>
                            </div>
                            <div class="form-row ">
                                <div class="collapse col-12" id="collapseExample">
                                    <div class="card">
                                        <div class="card-body mb-0">
                                            <!-- 수영장 유형 여기는 풀타입이 012 이므로 수정이 필요할 듯.. -->
                                            <div class="form-row">
                                                <p class="text-dark mr-1">운영방식: </p>
                                                <div class="form-check">
                                                    <input type="hidden" name="poolPublic" value="0">
                                                    <input class="form-check-input" <% if(result.filters.poolPublic==1){ %>checked<%}%> 
                                                         type="checkbox" onclick="valueReverser(this)">
                                                    <label class="form-check-label text-dark mr-1" for="poolPublic">공공
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="hidden" name="poolPrivate" value="0">
                                                    <input class="form-check-input" <% if(result.filters.poolPrivate==1){ %>checked<%}%> 
                                                        type="checkbox" onclick="valueReverser(this)">
                                                    <label class="form-check-label text-dark mr-1" for="poolPrivate">사설
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="hidden" name="poolHotel" value="0">
                                                    <input class="form-check-input" <% if(result.filters.poolHotel ==1){ %>checked<%}%> asdasd
                                                        type="checkbox"onclick="valueReverser(this)">
                                                    <label class="form-check-label text-dark mr-1" for="poolHotel">호텔
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- 실내외 -->
                                            <div class="form-row">
                                                <p class="text-dark mr-1">수영장 유형: </p>
                                                <div class="form-check">
                                                    <input type="hidden" name="poolIndoor" value="0">
                                                    <input class="form-check-input" <% if(result.filters.poolIndoor ==1){ %>checked<%}%>
                                                         type="checkbox" onclick="valueReverser(this)">
                                                    <label class="form-check-label text-dark mr-1" for="poolIndoor">실내 |
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="hidden" name="poolOutdoor" value="0">
                                                    <input class="form-check-input" type="checkbox" <% if(result.filters.poolOutdoor ==1){ %>checked<%}%>
                                                        onclick="valueReverser(this)">
                                                    <label class="form-check-label text-dark mr-1" for="poolOutdoor">야외
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- 자유수영 -->
                                            <div class="form-row">
                                                <p class="text-dark mr-1">자유수영이 있는 수영장만 검색: </p>
                                                <div class="form-check">
                                                    <input type="hidden" name="poolOpentime" value="0">
                                                    <input class="form-check-input" type="checkbox" <% if(result.filters.poolOpentime ==1){ %>checked<%}%>
                                                        onclick="valueReverser(this)">
                                                    <label class="form-check-label text-dark mr-1"
                                                        for="poolOpentime">확인</label>
                                                </div>
                                            </div>
                                            <!-- 유아전용 여성전용 장애인전용 -->
                                            <div class="form-row">
                                                <p class="text-dark mr-1">전용 수영장 검색: </p>
                                                <div class="form-check">
                                                    <input type="hidden" name="poolForChild" value="0">
                                                    <input class="form-check-input" checked <% if(result.filters.poolForChild ==1){ %>checked<%}%>
                                                        type="checkbox" onclick="valueReverser(this)">
                                                    <label class="form-check-label text-dark mr-1"
                                                        for="poolForChild">유아전용 |
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="hidden" name="poolForWoman" value="0">
                                                    <input class="form-check-input" type="checkbox" <% if(result.filters.poolForWoman ==1){ %>checked<%}%>
                                                        onclick="valueReverser(this)">
                                                    <label class="form-check-label text-dark mr-1"
                                                        for="poolForWoman">여성전용 ㅣ
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input type="hidden" name="poolForDisabled" value="0">
                                                    <input class="form-check-input" type="checkbox" <% if(result.filters.poolForDisabled ==1){ %>checked<%}%>
                                                        onclick="valueReverser(this)">
                                                    <label class="form-check-label text-dark mr-1"
                                                        for="poolForDisabled">장애인전용 ㅣ </label>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-check">
                                                    <input type="hidden" name="pageNumber" value=1 checked>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Contentent & Pagination-->
            <div class="col-lg-9">
                <!--Contentent -->
                <%
                var pools=result.pools;
                for(var poolInfo of pools){
                %>
                <div class="row">

                    <div class="col-md-7">
                        <a href="#">
                            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <div class="row mb-1">
                            <!-- For checking poolOptions -->
                            <h3><%=poolInfo.poolName%>
                                <%var options=poolInfo.poolOption.toString();%>
                                <!-- For sync the -->
                                <%
                                    while(options.length!=3){
                                        options='0'+options;
                                    }
                                %>
                                
                                <%if(options[0]==1){%><i class="fas fa-child text-warning"></i><%}%>
                                <%if(options[1]==1){%><i class="fas fa-female text-danger"></i><%}%>
                                <%if(options[2]==1){%><i class="fab fa-accessible-icon text-success"></i><%}%>
                            </h3>
                </div>
                <!-- For checking poolType : public / private / hotel / indoor / outdoor  -->
                <div class="row mb-3">
                <%var poolType=dec2bin(poolInfo.poolTypeMask);
                var poolTypeText=["공공수영장/","사설수영장/","호텔수영장/","실내 ","야외 "];
                for(var i=0; i<5; i++){
                    if(poolType[i]==1) {%>
                                <%=poolTypeText[i]%>
                                <%}
                }
                %>
                        </div>
                        <!-- For checking poolOpentime -->
                        <%if(poolInfo.poolOpentime==1){%>
                        <div class="row mb-3">
                            <i class="fas fa-swimming-pool fa-2x text-info"></i>
                        </div>
                        <%}else{%>
                        <div class="row mb-3">
                            <i class="fas fa-swimming-pool fa-2x text-secondary"></i>
                        </div>
                        <%}%>
                <!--Other info-->
                <div class="row mb-2"><%=poolInfo.poolAddress%>
                    </div>
                    <div class="row mb-3"><%=poolInfo.poolPhone%></div>
                    <a class="btn btn-primary" href="/pools/detail?poolId=<%=poolInfo.poolId%>">수영장 상세보기</a>
                </div>
                </div>
                <hr>
                <%}%>

                <!-- For pagination -->
                <ul id="pagenation" class="pagination justify-content-center"></ul>

            </div>
         </div>
    </div>

    <!-- 검색결과 검색창 필터창 정렬창 -->
    <!-- 컴퓨터 버전에서는 검색창이 옆에 그밑에 필터창 //검색어와 지도 그밑에  정렬기준
        그 밑에 검색결과-->
    <!-- 모바일 버전에서는 검색창안에 정렬, 필터, 지도가 따로 들어감 -->

    <!-- For link to add pool  -->
    <section class=" call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">수영장 정보를 추가하고 싶으세요? </h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <div class="col-12">
                        <button class="btn btn-block btn-lg btn-primary" href='/pool_input.html'>정보 추가
                            요청하기!</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2020. All Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->


</body>


</html>